* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
    background-color: #4b4b4b;
}

h2 {
    font-size: 18px;
    width: 100%;
    max-width: 700px;
    background-color: #70877F;
    text-align: center;
    margin: 8px auto;
    color: white;
    padding: 3px;
}

input {
    font-size: 14px;
}

input::placeholder {
    text-transform: none;
}

input:focus::placeholder {
    color: transparent;
}

.clear {
    clear: both;
}

.container {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding: 10px 2%;
}

.input-full {
    width: 100%;
    padding: 11px 34px;
    display: inline-block;
    text-align: center;
    border: 2px solid  black;
    background-color: white;
}

.input-full input {
    width: 100%;
    max-width: 700px;
    padding: 8px;
    margin: 2px;
    border: 1px solid #2F2963;
}

.input-full input:focus {
    outline: 0;
}

.input-full .input-header, .input-full .input-names, 
.input-full .input-description, .input-full .text-wrapper, 
.input-full .input-button button {
    margin: 8px auto;
}

.input-full .input-button {
    width: 100%;
}

.input-full .input-button button {
    color: white;
    width: 100%;
    max-width: 700px;
    padding: 8px;
    background-color: #454372;
    border: 0;
    cursor: pointer;
    border: 2px solid #2F2963;
    transition: 250ms ease-in-out;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.input-full .input-button button:hover {
    background-color: #2F2963;
}

.input-full .text-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-full .text-wrapper select {
    flex-direction: column;
    display: flex;
    padding: 8px;
    margin: 4px 2px;
    border: 1px solid #2F2963;
    cursor: pointer;
    font-weight: bold;
}

.input-full .text-wrapper select:focus {
    outline: 0;
}

.input-full .text-wrapper select::-ms-expand {
    display: none;
}

.input-full .licence, .input-full .cname {
    text-transform: uppercase;
}